<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../resources/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/static/css/style.css">
    <link rel="stylesheet" href="../resources/static/css/admin.css">

    <title>Admin</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-4 button">
            <a href="/products">Products</a>
        </div>
        <div class="col-3 button">
            <a href="/product">Add Product</a>
        </div>
        <div class="col-4 button">
            <a href="/users">Users</a>
        </div>
    </div>
</div>
</body>
</html>