<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="../resources/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/static/css/style.css">
    <link rel="stylesheet" href="../resources/static/css/table.css">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th><a href="/users">User list</a></th>
        <th><a href="/admin">Admin menu</a></th>
        <th><a href="/startpage">Start Page</a></th>
    </tr>
</table>
<form action="/user" method="post">
    <input type="text" name="username" th:value="${user.username}">
    <div>
        <label><input type="checkbox" th:each="role : ${roles}" th:name="${role}" th:text="${role}" th:value="${role}"
                      th:field="*{user.roles}"></label>
    </div>
    <input type="hidden" th:value="${user.id}" name="userId">
    <button type="submit">Save</button>
</form>
<button class="delete-btn" type="button" th:data-id="${user.id}">Delete</button>
<script src="../resources/static/js/jquery.min.js"></script>
<script src="../resources/static/js/bootstrap.min.js"></script>
<script src="../resources/static/js/userEdit.js"></script>
</body>
</html>